**Data Cleaning and Preparation for Airbnb Listing Dataset**

**Project Description**

The goal of this project is to clean and preprocess an Airbnb listings dataset, ensuring its accuracy, consistency, and readiness for analysis. The dataset contains 48,895 records across 16 columns that capture various aspects of Airbnb listings, such as property details, host information, location, pricing, and reviews. The cleaning process involves handling missing values, standardizing data formats, and enhancing data quality to enable meaningful insights and decision-making.

**Objective**

The primary objective of this project is to clean and prepare raw datasets to ensure they are accurate, complete, and ready for analysis. This involves identifying and correcting errors, handling missing data, standardizing formats, and removing inconsistencies to improve data quality and usability.

**Tools Used**

Python: For data manipulation and preprocessing.
Pandas: Data cleaning and transformation.
Matplotlib/Seaborn: Visualization for EDA and quality checks.
Jupyter Notebooks: For interactive data cleaning and analysis.

**Outcome**

The final cleaned dataset contains 95% of the original data, with all null values in the last_review column removed. This dataset is now ready for exploratory data analysis and predictive modeling.

Task 1 Import Pandas Library

In [ ]:
# Import pandas as alias
import pandas as pd

Task 2. Change default values for displaying rows and columns.

In [ ]:
# display default max rows
pd.get_option("display.max_rows")

60

In [ ]:
# display default max columns
pd.get_option("display.max_columns")

20

In [ ]:
# let set maximum rows
pd.set_option("display.max_rows",100)

In [ ]:
# let set Maximum Columns
pd.set_option("display.max_rows",30)

Reading Dataset

Task 3. Read dataset using pandas

In [ ]:
# load dataset
df1 = pd.read_csv("/content/AB_NYC_2019.csv")

In [ ]:
# lets check type df
type(df1)

pandas.core.frame.DataFrame

 4. Find shape of dataframe i.e number of rows and columns.

In [ ]:
# check the shape of dataframe
df1.shape

(48895, 16)

In [ ]:
# check the dimension of dataframe
df1.ndim

2

Exploring the Dataset

In [ ]:
# Lets view the first five rows of the dataframe using head()
df1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
df1.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [ ]:
df1.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,NaN,NaN,2,353
48886,36483010,Comfy 1 Bedroom in Midtown East,274311461,Scott,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,6,0,NaN,NaN,1,176
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",274321313,Kat,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,NaN,NaN,1,31
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,NaN,NaN,2,163
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
df1.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
df1.describe

<bound method NDFrame.describe of              id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]>

Handling Null Values

In [ ]:
df1.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
# Replace Null values with 0

df1["reviews_per_month"].fillna(0,inplace=True)
df1["name"].fillna("NA",inplace=True)
df1["host_name"].fillna("NA",inplace=True)
df1["last_review"].fillna("NA", inplace=True)

<ipython-input-62-05ba9fb08238>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["reviews_per_month"].fillna(0,inplace=True)
<ipython-input-62-05ba9fb08238>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["name"].fillna("NA",inplace=True)
<ipython-input-62-05ba9fb08238>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["host_name"].fillna("NA",inplace=True)
<ipython-input-62-05ba9fb08238>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["last_review"].fillna("NA", inplace=True)
<ipython-input-62-05ba9fb08238>:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df1["last_review"].fillna("NA", inplace=True)

In [ ]:
df1.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [ ]:
# Check and Correct the Datatypes
# Convert columns to appropriate types
df1['last_review'] = pd.to_datetime(df1['last_review'], errors='coerce')  # Ensure datetime type

In [ ]:
df1['neighbourhood_group'] = df1['neighbourhood_group'].astype('category')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45887 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45887 non-null  int64
 1   name                            45887 non-null  object
 2   host_id                         45887 non-null  int64
 3   host_name                       45887 non-null  object
 4   neighbourhood_group             45887 non-null  category
 5   neighbourhood                   45887 non-null  object
 6   latitude                        45887 non-null  float64
 7   longitude                       45887 non-null  float64
 8   room_type                       45887 non-null  object
 9   price                           45887 non-null  int64
 10  minimum_nights                  45887 non-null  int64
 11  number_of_reviews               45887 non-null  int64
 12  last_review                     36888 non-null  datetime64[ns]
 13  reviews_per_month               45887 non-null  float64
 14  calculated_host_listings_count  45887 non-null  int64
 15  availability_365                45887 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(7), object(4)
memory usage: 5.6+ MB

Handling Duplicates

In [ ]:
df1.duplicated().sum()

0

Handle outliers

In [ ]:
# Use the IQR method to remove extreme values
Q1 = df1['price'].quantile(0.25)
Q3 = df1['price'].quantile(0.75)
IQR = Q3 - Q1
Lower_Limit = Q1 - 1.5 * IQR
Upper_limit = Q3 + 1.5 * IQR


df1 = df1[(df1['price'] >= Lower_Limit) & (df1['price'] <= Upper_limit)]

In [ ]:
print("IQR:", IQR)
print("Lower Limit:", Lower_Limit)
print("Upper Limit:", Upper_limit)
print("\nOutliers:")

IQR: 106.0
Lower Limit: -90.0
Upper Limit: 334.0

Outliers:

In [ ]:
# Filter out unrealistic values for Minimum Nights column
df1 = df1[df1['minimum_nights'] < 365]

In [ ]:
print(df1)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

               last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19 00:00:00               0.21                               6
1      2019-05-21 00:00:00               0.38                               2
2                       NA               0.00                               1
3      2019-07-05 00:00:00               4.64                               1
4      2018-11-19 00:00:00               0.10                               1
...                    ...                ...                             ...
48890                   NA               0.00                               2
48891                   NA               0.00                               2
48892                   NA               0.00                               1
48893                   NA               0.00                               6
48894                   NA               0.00                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[45887 rows x 16 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45887 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45887 non-null  int64
 1   name                            45887 non-null  object
 2   host_id                         45887 non-null  int64
 3   host_name                       45887 non-null  object
 4   neighbourhood_group             45887 non-null  category
 5   neighbourhood                   45887 non-null  object
 6   latitude                        45887 non-null  float64
 7   longitude                       45887 non-null  float64
 8   room_type                       45887 non-null  object
 9   price                           45887 non-null  int64
 10  minimum_nights                  45887 non-null  int64
 11  number_of_reviews               45887 non-null  int64
 12  last_review                     36888 non-null  datetime64[ns]
 13  reviews_per_month               45887 non-null  float64
 14  calculated_host_listings_count  45887 non-null  int64
 15  availability_365                45887 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(7), object(4)
memory usage: 5.6+ MB

In [ ]:
df1.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.588700e+04,4.588700e+04,45887.000000,45887.000000,45887.000000,45887.000000,45887.000000,45887.000000,45887.000000,45887.000000
mean,1.890333e+07,6.634687e+07,40.728486,-73.950714,119.959705,6.578312,23.956807,1.108441,6.643450,109.266350
std,1.091755e+07,7.756469e+07,0.055330,0.046475,68.151399,13.849630,45.329622,1.613060,31.019898,130.209666
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,9.445691e+06,7.728754e+06,40.689230,-73.981920,65.000000,1.000000,1.000000,0.050000,1.000000,0.000000
50%,1.953027e+07,3.032241e+07,40.721770,-73.954350,100.000000,2.000000,5.000000,0.390000,1.000000,39.000000
75%,2.891346e+07,1.055763e+08,40.763405,-73.934290,159.000000,5.000000,25.000000,1.620000,2.000000,216.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,334.000000,364.000000,629.000000,58.500000,327.000000,365.000000

Add Columns

In [ ]:
# Add 'reviews_per_year'
df1['reviews_per_year'] = df1['reviews_per_month'] * 12

# Add 'is_available'
df1['is_available'] = df1['availability_365'].apply(lambda x: 1 if x > 0 else 0)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45887 entries, 0 to 48894
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45887 non-null  int64
 1   name                            45887 non-null  object
 2   host_id                         45887 non-null  int64
 3   host_name                       45887 non-null  object
 4   neighbourhood_group             45887 non-null  category
 5   neighbourhood                   45887 non-null  object
 6   latitude                        45887 non-null  float64
 7   longitude                       45887 non-null  float64
 8   room_type                       45887 non-null  object
 9   price                           45887 non-null  int64
 10  minimum_nights                  45887 non-null  int64
 11  number_of_reviews               45887 non-null  int64
 12  last_review                     36888 non-null  datetime64[ns]
 13  reviews_per_month               45887 non-null  float64
 14  calculated_host_listings_count  45887 non-null  int64
 15  availability_365                45887 non-null  int64
 16  reviews_per_year                45887 non-null  float64
 17  is_available                    45887 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(4), int64(8), object(4)
memory usage: 6.3+ MB

In [ ]:
# Save the cleaned dataset
df1.to_csv('cleaned_airbnb_dataset.csv', index=False)

In [ ]:
print("Dataset cleaned and saved successfully!")

Dataset cleaned and saved successfully!